<h1>Chat</h1>

    <a href="/home" class="btn btn-success">Volver</a>

<div>
    <input type="text" id="chatBox">
    <button id="chatButton">Enviar</button>
</div>

<div>
    <p id="paragraphMessages"></p>
</div>